@tailwind base;
:root {
  --scroll-bar: #2c3755;
  --scroll-background: #10141f;
}
/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: var(--scroll-bar) var(--scroll-background);
}
/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 16px;
}
*::-webkit-scrollbar-track {
  background: var(--scroll-background);
  border-radius: 6px;
}
*::-webkit-scrollbar-thumb {
  background-color: var(--scroll-bar);
  border-radius: 14px;
  border: 3px solid var(--scroll-background);
}

@tailwind components;
@tailwind utilities;

@layer components {
  .body{
    @apply flex flex-col lg:flex-row min-h-screen bg-bg text-white  mx-auto max-w-[1400px] w-full
  }
  .main-wrapper{
    @apply flex-1 p-5 h-screen overflow-y-scroll max-w-[1400px] w-full 
  }
  .main{
    @apply  space-y-10 
  }
  .details-main{
    @apply space-y-5 xl:px-10
  }
  .section-title{
    @apply text-2xl sm:text-3xl lg:text-4xl font-semibold mb-5 text-brand
  }
  .link_hover{
    @apply transition-all duration-75  ease-linear
  }
  .card-title{
    @apply font-semibold text-base
  }
  .card-details{
    @apply text-xs md:text-sm text-gray-300 font-medium
  }
  .embla {
    @apply overflow-hidden lg:pr-5
  }
  .embla__container {
    @apply flex 
  }
  .embla__slide {
    @apply flex-[0_0_50%] sm:flex-[0_0_33.33%] lg:flex-[0_0_25%] min-w-0 pl-6 xl:flex-[0_0_20%] xl:pl-6 
  }

}
